/* background */
.fake-bg{
  background-image: url('../images/smallbg.png');
  background-position: center;
  background-repeat: no-repeat;
  height:100vh;
  background-size: cover;
}

.background {
  background-image: url('../images/prof.png');
  background-position: center;
  background-repeat: no-repeat;
  height:100vh;
  background-size: cover;
}

@media (max-width: 1200px){
  .background{
    background-image: url('../images/smallbg.png');
  }
}

@media(max-width:992px){
  .background{
    height: 100vh;
  }
}


/* navbar */
.nav-link{
  font-family: "Karla", bold;
  padding: 0vh 10vw 0vh 0vw;
  font-weight: 1000;
  color:#e8ebf1;
  font-size: 40px;

}

@media(max-width:1350px){
  .nav-link{
    font-size: 25px;
  }
}

@media(max-width:992px){
  .nav-link{
    font-size: 15px;
  }
}

.navbar{
  padding: 5vh 10vw 0vh 12vw;
}
.nav-right{
  padding: 0vh 0vw 0vh 5vw;
}
.navbar li{
  margin-right: 0;
}


@media(min-width:992px){
  .navbar{
    padding: 15vh 15vw 0vh 12vw;
  }
  .nav-right{
    padding: 0vh 0vw 0vh 3vw;
  }
}

@media (min-width: 1200px){
  .navbar{
    padding: 15vh 15vw 0vh 12vw;
  }
  .nav-right{
    padding: 0vh 0vw 0vh 9vw;
  }
  .navbar li{
    margin-right: 0;
  }
}

@media (min-width:1350px){
  .navbar{
    padding: 15vh 13vw 0vh 12vw;
  }
  .nav-right{
    padding: 0vh 0vw 0vh 12vw;
  }
  .navbar li{
    margin-right: 2vw;
  }
}

.resize{
  width:3em;
  height:auto;
}

@media(max-width:1350px){
  .resize{
    width: 2.25em;
    height:auto;
  }
}
@media(max-width:992px){
  .resize{
    display: none;
  }
}

/* landing page left */

.row{
  font-family: "Karla", bold;
}
.fname{
  padding: 8vh 0vw 0vh 12vw;
  font-size: 125px;
  color: #e8ebf1;
  line-height: 7rem;
}

@media (max-width:1700px){
  .fname{
    font-size: 70px;
    line-height: 4rem;
  }
}

@media(max-width: 1200px){
  .fname{
    padding: 9vh 0vw 0vh 12vw;
    font-size: 70px;
    line-height: 4rem;
  }
}

@media(max-width: 992px){
  .fname{
    padding: 13vh 0vw 0vh 10vw;
  }
}

@media(max-width: 767px){
  .fname{
    padding: 3vh 0vw 0vh 10vw;
    font-size: 35px;
    line-height: 2.5rem;
  }
}



.line{
  width: 5rem;
  height: auto;
}

.l{
  padding: 0vh 0vw 0vh 12vw;
}

.link{
  padding: 5vh 0vw 0vh 0vw;
}

.first-link-padding{
  padding: 0vh 1vw 0vh 12vw;
}

.link-padding{
  padding: 0vh 1vw 0vh 0vw;
}

.links{
  width: 2rem;
  height: auto;
}

@media(max-width: 1200px){
  .l{
    padding: 0vh 0vw 0vh 12vw;
  }
  .link{
    padding: 15vh 0vw 0vh 0vw;
  }
  .first-link-padding{
    padding: 0vh 2vw 0vh 12vw;
  }
  .link-padding{
    padding: 0vh 2vw 0vh 0vw;
  }
}

@media(max-width: 992px){
  .l{
    padding: 0vh 0vw 0vh 10vw;
  }
  .link{
    padding: 0vh 0vw 0vh 0vw;
  }
  .first-link-padding{
    padding: 0vh 2vw 0vh 10vw;
  }
  .link-padding{
    padding: 0vh 2vw 0vh 0vw;
  }
}

@media(max-width: 767px){
  .line{
    width: 3.5rem;
    height: auto;
  }

  .l{
    padding: 0vh 0vw 0vh 10vw;
  }

  .link{
    padding: 0vh 0vw 0vh 0vw;
  }
  .first-link-padding{
    padding: 0vh 2vw 0vh 10vw;
  }

  .link-padding{
    padding: 0vh 2vw 0vh 0vw;
  }

  .links{
    width: 1.75rem;
    height: auto;
  }
}

/* landing page right end */

/* landing page right */
.landing-right{
  padding: 0vh 10vw 0vh 1vw;
}

.intro{
  padding: 8vh 0vw 0vh 12vw;
  font-size: 20px;
  color: #8b8b9b;
}
.title{
  padding: 0vh 0vw 0vh 12vw;
  font-size: 40px;
  color: #e8ebf1;
}
.description{
  padding: 2vh 0vw 0vh 12vw;
  font-size: 20px;
  color: #8b8b9b;
}
.work{
  padding: 10vh 0vw 0vh 12vw;
  font-size: 20px;
  text-decoration: underline
}
a{
  color: #ffc35b;
  font-size: 25px
}
a:hover{
  color: #f2a725;
}

@media(max-width:1350px){
  .landing-right{
    padding: 0vh 6vw 0vh 2vw;
  }
  .intro{
    padding: 5vh 0vw 0vh 9vw;
    font-size: 18px;
  }
  .title{
    padding: 0vh 0vw 0vh 9vw;
    font-size: 30px;
  }
  .description{
    padding: 2vh 0vw 0vh 9vw;
    font-size:18px;
  }
  .work{
    font-size:18px;
    padding: 3vh 0vw 0vh 9vw;
  }
  a{
    font-size: 18px;
  }
}

@media(max-width:1200px){
  .landing-right{
    padding: 0vh 10vw 0vh 2vw;
  }
  .intro{
    padding: 10vh 0vw 0vh 2vw;
    font-size: 25px;
    color: #9999a3;
  }
  .title{
    padding: 2vh 0vw 0vh 2vw;
    font-size: 35px;
  }
  .description{
    padding: 3vh 0vw 0vh 2vw;
    font-size:25px;
  }
  .work{
    font-size:20px;
    padding: 3vh 0vw 0vh 2vw;
  }
  a{
    font-size: 20px;
  }
}

@media(max-width: 767px){
  .landing-right{
    padding: 0vh 10vw 0vh 10vw;
  }
  .intro{
    padding: 3vh 0vw 0vh 2vw;
    font-size: 15px;
    color: #9999a3;
  }
  .title{
    padding: 1vh 2vw 0vh 2vw;
    font-size: 25px;
  }
  .description{
    padding: 1vh 2vw 0vh 2vw;
    font-size:15px;
  }
  .work{
    font-size:15px;
    padding: 1vh 0vw 0vh 2vw;
  }
  a{
    font-size: 15px;
  }
}
/* landing page end */

/* Work Section start */

.work-section{
  background-image: url('../images/smallbg2.png');
  background-size: cover;
}

.portfolio{
  padding: 7vh 0vw 0vh 12vw;
  font-size: 20px;
  color: #8b8b9b;
}

.portfolio-work{
  padding: 0vh 0vw 0vh 12vw;
  font-size: 40px;
  color: #e8ebf1;
}

.project-description{
  padding: 2vh 0vw 0vh 12vw;
  font-size: 20px;
  color: #8b8b9b;
}

.explore{
  padding: 6vh 0vw 8vh 12vw;
  font-size: 20px;
}

.port-project{
  padding: 2vh 0vw 10vh 12vw;
}

.port-img:hover{
  -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
  box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
}
.port-project-right{
  padding: 10vh 12vw 10vh 0vw;

  float: right;
}

.port-img{
  width: 550px;
  height: auto;
}


@media(max-width:1550px){
  .port-img{
    width: 400px;
    height: auto;
  }
}

@media(max-width:1200px){
  .port-img{
    width: 550px;
    height: auto;
  }
  .port-project-right{
    padding: 2vh 0vw 10vh 12vw;

    float: left;
  }
}

@media(max-width:750px){
  .port-img{
    width: 400px;
    height: auto;
  }
  .port-project-right{
    padding: 2vh 0vw 10vh 9vw;
  }
  .port-project{
    padding: 2vh 0vw 10vh 9vw;
  }
  .portfolio{
    padding: 7vh 0vw 0vh 9vw;
    font-size: 15px;
    color: #8b8b9b;
  }

  .portfolio-work{
    padding: 0vh 0vw 0vh 9vw;
    font-size: 25px;
    color: #e8ebf1;
  }

  .project-description{
    padding: 2vh 0vw 0vh 9vw;
    font-size: 15px;
    color: #8b8b9b;
  }

  .explore{
    padding: 6vh 0vw 8vh 9vw;
    font-size: 15px;
  }
}

@media(max-width: 525px){
  .port-img{
    width: 250px;
    height:auto;
  }
}
